.NavContainer {
    background-image: url(../img/StarfieldSimulation.gif);
    background-size: contain;
    justify-content: center;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,233,25, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
    }
    
    .navbar-toggler {
        background-color: transparent;
        border-color: #ffe919;
    }
    .active {
        font-weight: 600;
        color: gray;
        margin: 0 5px;
        text-decoration: none;

        &:hover {
            cursor: default;
        }

    }

    .NavText {
        font-weight: 500;
        color: white;
        margin: 0 5px;
        text-decoration: none;

        &:hover {
            color: #ffce00;
        }


    }

    .logo {
        
        max-width: 100px;
        max-height: 61px;
    }

}


@media only screen and (max-width: 880px) {

    .con {

        margin-left: 30vw;
        margin-right: auto;


    }
}